# Project-specific
lib

# Logs
*.log*

# Code coverage output
coverage
.nyc_output

# Dependencies
node_modules

# Dont commit builds
dist/

# npmrc should prevent this, but at any rate...
package-lock.json
